[submodule "tinyutils"]
	path = tinyutils
	url = https://github.com/amitmaish/tinyutils.git
[submodule "tinycolor"]
	path = tinycolor
	url = https://github.com/amitmaish/tinycolor.git
[submodule "tinycolors"]
	path = tinycolors
	url = https://github.com/amitmaish/tinycolors.git
